@model Lab.Northwind.MVC.Models.ShipperView

@{
    ViewBag.Title = "Shipper Page";
}

<h1>Actualizar Shipper</h1>
@using (Html.BeginForm("Update", "Shippers", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <div>
                <label>Company name: </label> @Html.TextBoxFor(x => x.CompanyName, new { @Value = Model.CompanyName, @id = "companyName", @class = "companyName" })
                <br>
                @Html.ValidationMessageFor(x => x.CompanyName, null, new { @style = "color: red" })
            </div>
            <div>
                <label>Phone: </label> @Html.TextBoxFor(x => x.Phone, new { @Value = Model.Phone, @id = "phone", @class = "phone" })
            </div>
            <input type="submit" class="btn btn-primary" value="Guardar" id="guardar" />
        </div>
    </div>
}

@section scripts{
    <script>
        var maxLength = 40;
        var maxLengthPhone = 24;
        $("#guardar").click(function () {
            if (validarCompanyName() == true && validarTelefono() == true) {
                alert("Shipper modificado exitosamente!");
                return true;
            }
            return false;
        });

        function validarCompanyName() {
            if ($("#companyName").val() == "" || $("#companyName").val() == undefined) {
                alert("El campo company name no puede estar vacio");
                $("#companyName").css({ 'outline': 'none', 'border': '1px solid red' });
                $("#companyName").focus();
                return false;
            }
            else {
                var value = $("#companyName").val().length;
                console.log("valor", value)
                if (value > maxLength) {
                    alert("El campo company name debe tener menos de 40 caracteres");
                    $("#companyName").css({ 'outline': 'none', 'border': '1px solid red' });
                    $("#companyName").focus();
                    return false;
                }
                else {
                    $("#companyName").css({ 'outline': 'none', 'border': '1px solid black' });
                    return true;
                }
            }
        };

        function validarTelefono() {
            var value = $("#phone").val().length;
            if (value > maxLengthPhone) {
                alert("El campo phone debe tener menos de 24 caracteres");
                $("#phone").css({ 'outline': 'none', 'border': '1px solid red' });
                return false;
            }
            $("#phone").css({ 'outline': 'none', 'border': '1px solid black' });
            return true;
        }
    </script>
}

